* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $mainColor;
}


@import './components/pages/pagesStyles/variables';
@import'./components/pages/pagesStyles/home';
@import './components/pages/partials/partialStyles/navbar';


