@import './components/pages/pagesStyles/variables';
@import './components/generalMixins';
@import './components/pages/partials/partialStyles/navbar';
@import'./components/pages/pagesStyles/about';
@import'./components/pages/pagesStyles/home';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $primaryFont;
}

body {
    position: relative;
}

::-webkit-scrollbar {
    width: 20px;
}

--webkit-scrollbar-thumb:hover {
    background: red;
}


