
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Contact {
        position: relative;
        height: 100%;
        max-width: 100%;


        .contactContainer {
            display: flex;
            max-width: 100%;
            min-height: 100vh;
            margin: auto;
            z-index: 1;
            flex-direction: column;

            .socialSection {
                padding-top: 4rem;
                background-color: #F8F5F2;

                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                    font-weight: 700;
                }


                .socialSectionContainer {
                    max-width: 600px;
                    margin: auto;
                    @include mobilePadding;
                    background-color: #F8F5F2;
                    min-height: 40vh;

                    h3 {
                        font-size: 16px;
                        text-align: center;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        
                        a {
                            color: $darkBlack;
                            text-decoration: none;
                            margin: 10px 17px 0 0;
                            font-size: 27px;
                            transition: color 300ms ease;
                            
                            
                            &:hover {
                                color: $lightGray;
                            }
                        }
                    }

                    p {
                        text-align: center;
                        font-size: 1.1rem;
                        width: 400px;
                        margin: 1.8rem auto;

                        a {
                            text-decoration: underline;
                            color: $darkBlack;
                            transition: color 300ms ease;

                            &:hover {
                                color: $lightGray;
                            }
                        }
                    }
                }
                
            }
            
            .connectSection {
                // background-color: yellow;
                max-width: 1100px;
                margin: auto;
                @include mobilePadding;
    
                h3 {
                    text-transform: capitalize;
                    text-align: center;
                    font-size: 26px;
                    margin: 0 auto 2rem 0;
                }

                p {
                    text-align: center;
                    margin: 0 3rem;
                }
    
                form {
                    max-width: 100%;
    
                    div {
                        max-width: 100%;
                        
                        .fullName, .email, .message {
                            width: 100%;
                            padding: 0.75rem 1.2rem;
                            border: 1px solid $hoverWhite;
                            border-radius: 0.24rem;
                            font-size: 13px;
                            outline: none;
    
                            &::placeholder {
                                font-size: 13px;
                                color: $lightGray;
                                font-weight: 500;
                            }
                        }
                    }
    
                    .nameDiv {
                        margin: 1rem 0 0 0;
                    }
                    
                    .emailDiv {
                        margin: 1rem 0 0 0;
                    }
                    
                    .messageDiv {
                        margin: 2rem 0 1rem 0;
    
                        textarea {
                            resize: none;
                        }
                    }
    
                    .consentDiv {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
                        margin: 0 auto 2rem 0;
    
                        div {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin: 1rem 0;
                            
                            input {
                                margin: 0 10px 0 0;
                            }
    
                            label {
                                font-size: 12px;
                                font-weight: 600;
                                color: $lightGray;
                            }
                        }
    
                        .submitBtn {
                            padding: 0.75rem 1.2rem; 
                            margin: 2rem 0 0 0;
                            max-width: 150px;
                            font-size: 13px;
                            text-align: center;
                            color: $white;
                            border: 1px solid $lightGray;
                            border-radius: 0.24rem;
                            background-color: $lightGray;
                            user-select: none;
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Contact {
        position: relative;
        height: 100%;
        max-width: 100%;


        .contactContainer {
            display: flex;
            max-width: 100%;
            min-height: 100vh;
            margin: auto;
            z-index: 1;
            flex-direction: column;

            .socialSection {
                padding-top: 4rem;
                background-color: #F8F5F2;

                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                    font-weight: 700;
                }


                .socialSectionContainer {
                    max-width: 600px;
                    margin: auto;
                    @include mobilePadding;
                    background-color: #F8F5F2;
                    min-height: 40vh;

                    h3 {
                        font-size: 16px;
                        text-align: center;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        
                        a {
                            color: $darkBlack;
                            text-decoration: none;
                            margin: 10px 17px 0 0;
                            font-size: 27px;
                            transition: color 300ms ease;
                            
                            
                            &:hover {
                                color: $lightGray;
                            }
                        }
                    }

                    p {
                        text-align: center;
                        font-size: 1.1rem;
                        width: 400px;
                        margin: 1.8rem auto;

                        a {
                            text-decoration: underline;
                            color: $darkBlack;
                            transition: color 300ms ease;

                            &:hover {
                                color: $lightGray;
                            }
                        }
                    }
                }
                
            }
            
            .connectSection {
                // background-color: yellow;
                max-width: 1100px;
                margin: auto;
                @include mobilePadding;
    
                h3 {
                    text-transform: capitalize;
                    text-align: center;
                    font-size: 26px;
                    margin: 0 auto 2rem 0;
                }

                p {
                    text-align: center;
                    margin: 0 3rem;
                }
    
                form {
                    max-width: 100%;
    
                    div {
                        max-width: 100%;
                        
                        .fullName, .email, .message {
                            width: 100%;
                            padding: 0.75rem 1.2rem;
                            border: 1px solid $hoverWhite;
                            border-radius: 0.24rem;
                            font-size: 13px;
                            outline: none;
    
                            &::placeholder {
                                font-size: 13px;
                                color: $lightGray;
                                font-weight: 500;
                            }
                        }
                    }
    
                    .nameDiv {
                        margin: 1rem 0 0 0;
                    }
                    
                    .emailDiv {
                        margin: 1rem 0 0 0;
                    }
                    
                    .messageDiv {
                        margin: 2rem 0 1rem 0;
    
                        textarea {
                            resize: none;
                        }
                    }
    
                    .consentDiv {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
                        margin: 0 auto 2rem 0;
    
                        div {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin: 1rem 0;
                            
                            input {
                                margin: 0 10px 0 0;
                            }
    
                            label {
                                font-size: 12px;
                                font-weight: 600;
                                color: $lightGray;
                            }
                        }
    
                        .submitBtn {
                            padding: 0.75rem 1.2rem; 
                            margin: 2rem 0 0 0;
                            max-width: 150px;
                            font-size: 13px;
                            text-align: center;
                            color: $white;
                            border: 1px solid $lightGray;
                            border-radius: 0.24rem;
                            background-color: $lightGray;
                            user-select: none;
                        }
                    }
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Contact {
        position: relative;
        height: 100%;
        max-width: 100%;
        background-color: white;


        .contactContainer {
            display: flex;
            max-width: 100%;
            min-height: 100vh;
            margin: auto;
            z-index: 1;
            flex-direction: column;
            background-color: #ffffff;

            .socialSection {
                padding: 0 4rem 0 4rem;
                background-color: #F8F5F2;

                h3 {
                    text-align: center;
                    font-size: 3.5rem;
                    font-weight: 700;
                }


                .socialSectionContainer {
                    max-width: 600px;
                    margin: auto;
                    @include desktopPadding;
                    padding: 0 auto 0 auto;
                    background-color: #F8F5F2;

                    h3 {
                        font-size: 16px;
                        text-align: center;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        
                        .icon {
                            color: $darkBlack;
                            text-decoration: none;
                            margin: 10px 17px 1rem 0;
                            font-size: 27px;
                            transition: color 300ms ease;
                            
                            
                            &:hover {
                                color: $lightGray;
                            }
                        }
                    }

                    p {
                        text-align: center;
                        margin: 0 auto;
                        font-size: 1.4rem;
                        

                        a {
                            text-decoration: underline;
                            color: $darkBlack;
                            transition: color 300ms ease;

                            &:hover {
                                color: $lightGray;
                            }
                        }
                    }
                }
                
            }
            
            .connectSection {
                // background-color: $white;
                max-width: 1100px;
                margin: auto;
                @include mobilePadding;
    
                h3 {
                    text-transform: capitalize;
                    text-align: center;
                    font-size: 26px;
                    margin: 0 auto 2rem 0;
                }

                p {
                    text-align: center;
                    max-width: 850px;
                    margin: 0 auto 1.2rem auto;
                    padding: 0 10rem;
                    font-size: 1.3rem;
                }
    
                form {
                    max-width: 100%;
                    display: grid;
                    grid-template-areas: 
                        "name email"
                        "message message"
                        "bttm bttm";
    
                    div {
                        max-width: 100%;
                        
                        .fullName, .email, .message {
                            width: 100%;
                            padding: 1rem 1.2rem;
                            border: 1px solid $hoverWhite;
                            border-radius: 0.24rem;
                            font-size: 13px;
                            outline: none;
    
                            &::placeholder {
                                font-size: 13px;
                                color: $lightGray;
                                font-weight: 500;
                            }
                        }
                    }
    
                    .nameDiv {
                        margin: 1rem 0 0 0;
                        grid-area: name;
                    }
                    
                    .emailDiv {
                        margin: 1rem 0 0 1rem;
                        grid-area: email;
                    }
                    
                    .messageDiv {
                        margin: 2rem 0 1rem 0;
                        height: 250px;
                        grid-area: message;
    
                        textarea {
                            resize: none;
                            height: 100%;
                        }
                    }
    
                    .consentDiv {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: "text btn";
                        justify-content: space-between;
                        margin: 0 auto 2rem auto;
                        width: 100%;
                        grid-area: bttm;
                        
    
                        div {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin: 1rem 0;
                            grid-area: text;
                            // background-color: lightblue;
                            
                            input {
                                margin: 0 10px 0 0;
                            }
    
                            label {
                                font-size: 1rem;
                                font-weight: 600;
                                color: $lightGray;
                            }
                        }
    
                        .submitBtn {
                            padding: 0.75rem 1.2rem; 
                            margin: 0;
                            max-width: 150px;
                            font-size: 13px;
                            // text-align: center;
                            color: $white;
                            border: 1px solid $lightGray;
                            border-radius: 0.24rem;
                            background-color: $lightGray;
                            user-select: none;
                            grid-area: btn;
                            margin-left: auto;
                            justify-self: flex-end;
                            align-self: center;

                        }
                    }
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Contact {
        position: relative;
        height: 100%;
        max-width: 100%;
        background-color: white;


        .contactContainer {
            display: flex;
            max-width: 100%;
            min-height: 100vh;
            margin: auto;
            z-index: 1;
            flex-direction: column;
            background-color: #ffffff;

            .socialSection {
                padding: 0 4rem 0 4rem;
                background-color: #F8F5F2;

                h3 {
                    text-align: center;
                    font-size: 3.5rem;
                    font-weight: 700;
                }


                .socialSectionContainer {
                    max-width: 600px;
                    margin: auto;
                    @include desktopPadding;
                    padding: 0 auto 0 auto;
                    background-color: #F8F5F2;

                    h3 {
                        font-size: 16px;
                        text-align: center;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        
                        .icon {
                            color: $darkBlack;
                            text-decoration: none;
                            margin: 10px 17px 1rem 0;
                            font-size: 27px;
                            transition: color 300ms ease;
                            
                            
                            &:hover {
                                color: $lightGray;
                            }
                        }
                    }

                    p {
                        text-align: center;
                        margin: 0 auto;
                        font-size: 1.4rem;
                        

                        a {
                            text-decoration: underline;
                            color: $darkBlack;
                            transition: color 300ms ease;

                            &:hover {
                                color: $lightGray;
                            }
                        }
                    }
                }
                
            }
            
            .connectSection {
                // background-color: $white;
                max-width: 1100px;
                margin: auto;
                @include mobilePadding;
    
                h3 {
                    text-transform: capitalize;
                    text-align: center;
                    font-size: 26px;
                    margin: 0 auto 2rem 0;
                }

                p {
                    text-align: center;
                    max-width: 850px;
                    margin: 0 auto 1.2rem auto;
                    padding: 0 10rem;
                    font-size: 1.3rem;
                }
    
                form {
                    max-width: 100%;
                    display: grid;
                    grid-template-areas: 
                        "name email"
                        "message message"
                        "bttm bttm";
    
                    div {
                        max-width: 100%;
                        
                        .fullName, .email, .message {
                            width: 100%;
                            padding: 1rem 1.2rem;
                            border: 1px solid $hoverWhite;
                            border-radius: 0.24rem;
                            font-size: 13px;
                            outline: none;
    
                            &::placeholder {
                                font-size: 13px;
                                color: $lightGray;
                                font-weight: 500;
                            }
                        }
                    }
    
                    .nameDiv {
                        margin: 1rem 0 0 0;
                        grid-area: name;
                    }
                    
                    .emailDiv {
                        margin: 1rem 0 0 1rem;
                        grid-area: email;
                    }
                    
                    .messageDiv {
                        margin: 2rem 0 1rem 0;
                        height: 250px;
                        grid-area: message;
    
                        textarea {
                            resize: none;
                            height: 100%;
                        }
                    }
    
                    .consentDiv {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: "text btn";
                        justify-content: space-between;
                        margin: 0 auto 2rem auto;
                        width: 100%;
                        grid-area: bttm;
                        
    
                        div {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin: 1rem 0;
                            grid-area: text;
                            // background-color: lightblue;
                            
                            input {
                                margin: 0 10px 0 0;
                            }
    
                            label {
                                font-size: 1rem;
                                font-weight: 600;
                                color: $lightGray;
                            }
                        }
    
                        .submitBtn {
                            padding: 0.75rem 1.2rem; 
                            margin: 0;
                            max-width: 150px;
                            font-size: 13px;
                            // text-align: center;
                            color: $white;
                            border: 1px solid $lightGray;
                            border-radius: 0.24rem;
                            background-color: $lightGray;
                            user-select: none;
                            grid-area: btn;
                            margin-left: auto;
                            justify-self: flex-end;
                            align-self: center;

                        }
                    }
                }
            }
        }
    }

}