@include breakpoint-mobile(medium) {

    .Contact {
        position: relative;
        height: 100%;
        max-width: 100%;


        .contactContainer {
            display: flex;
            max-width: 100%;
            min-height: 100vh;
            margin: auto;
            z-index: 1;
            flex-direction: column;

            .socialSection {
                padding-top: 7rem;
                //background-color: #F8F5F2;

                h3 {
                    text-align: center;
                    font-size: 2rem;
                    color: red;
                }


                .socialSectionContainer {
                    @include mobilePadding;
                    background-color: #F8F5F2;
                    min-height: auto;

                    h3 {
                        font-size: 16px;
                        text-align: left
                    }

                    div {
                        display: flex;
                        align-items: center;
                        
                        a {
                            text-decoration: none;
                            color: $borderGray;
                            margin: 10px 15px 0 0;
                            font-size: 20px;
                            transition: color 300ms ease;
                            
                            
                            &:hover {
                                color: $hoverWhite;
                            }
                        }
                    }
                }
                
            }
            
            .connectSection {
                @include mobilePadding;
    
                h3 {
                    text-transform: capitalize;
                    text-align: center;
                    font-size: 26px;
                    margin: 0 auto 2rem 0;
                }
    
                form {
                    max-width: 100%;
    
                    div {
                        max-width: 100%;
                        
                        .fullName, .email, .message {
                            width: 100%;
                            padding: 0.75rem 1.2rem;
                            border: 1px solid $hoverWhite;
                            border-radius: 0.24rem;
                            font-size: 13px;
                            outline: none;
    
                            &::placeholder {
                                font-size: 13px;
                                color: $lightGray;
                                font-weight: 500;
                            }
                        }
                    }
    
                    .nameDiv {
                        margin: 1rem 0 0 0;
                    }
                    
                    .emailDiv {
                        margin: 1rem 0 0 0;
                    }
                    
                    .messageDiv {
                        margin: 2rem 0 1rem 0;
    
                        textarea {
                            resize: none;
                        }
                    }
    
                    .consentDiv {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
                        margin: 0 auto 2rem 0;
    
                        div {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin: 1rem 0;
                            
                            input {
                                margin: 0 10px 0 0;
                            }
    
                            label {
                                font-size: 12px;
                                font-weight: 600;
                                color: $lightGray;
                            }
                        }
    
                        .submitBtn {
                            padding: 0.75rem 1.2rem; 
                            margin: 2rem 0 0 0;
                            max-width: 150px;
                            font-size: 13px;
                            text-align: center;
                            color: $white;
                            border: 1px solid $lightGray;
                            border-radius: 0.24rem;
                            background-color: $lightGray;
                            user-select: none;
                        }
                    }
                }
            }
        }
    }

}