.Home {
    .hero {
        background-color: $mainColor;
        padding: 8rem 0;
        height: 710px;

        .heroContainer {
            max-width: 1312px;
            margin: auto;
            background-color: yellow;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
            height: 100%;

            .heroLeft {
                padding: 2rem 4rem;
                background: red;
                width: 30%;
                min-height: 100%;
            }

            .heroRight {
                padding: 2rem 4rem;
                background: green;
                width: 30%;
                min-height: 100%;
            }
        }
    }
}