.Home {
    //background-color: $lightBlue;
    min-height: 100vh;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($lightBlack, 0.90);
    }


    .mainSection {
        position: relative;
        //background-color: yellow;
        min-height: 75vh;
        padding: 2rem 4rem;
        max-width: 1640px;
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        z-index: 2;

        .mainLeft {
            //background-color: lightblue;
            text-align: center;

            h3 {
                color: $white;
                text-transform: capitalize;
                letter-spacing: -4px;
                font-size: 5vw;
                line-height: 107px;
                font-weight: 700;
                max-width: 700px;
                word-wrap: wrap;
                //background: yellow;
                margin: 8rem auto 4rem auto;
                text-align: center;
                transition: font-size 300ms ease;
            }

            .contact {
                text-decoration: none;
                background-color: $secondColor;
                color: $white;
                margin: auto;
                text-align: center;
                font-size: 1.125rem;
                font-weight: 700;
                padding: 1rem 3.5rem;

            }
        }

        .mainRight {
           // background-color: coral;
        }
    }
}

@include breakpoint-mobile(small) {
    .Home {
        //background-color: $lightBlue;
        min-height: 100vh;
        position: relative;
    
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($lightBlack, 0.90);
        }
    
    
        .mainSection {
            position: relative;
            //background-color: yellow;
            min-height: 75vh;
            padding: 2rem 4rem;
            max-width: 1640px;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            margin: auto;
            z-index: 2;
    
            .mainLeft {
                //background-color: lightblue;
                text-align: center;
    
                h3 {
                    color: $white;
                    letter-spacing: 0px;
                    font-size: 10vw;
                    line-height: 63px;
                    font-weight: 600;
                    margin: 5rem 0 2rem 0;
                    text-align: center;
                    transition: font-size 300ms ease;
                }

                p {
                    color: $white;
                    margin: 0 auto 3.5rem;
                    font-size: 4vw;
                    max-width: 360px;
                }

                .contact {
                    text-decoration: none;
                    background-color: $secondColor;
                    color: $white;
                    margin: auto;
                    text-align: center;
                    font-size: 1.125rem;
                    font-weight: 700;
                    padding: 1rem 2rem;

                }
            }
    
            .mainRight {
               // background-color: coral;
            }
        }
    }
}