@include breakpoint-mobile(small) {

}


@include breakpoint-desktop(large) {
    .Home {
        position: relative;
        min-height: 100vh;
    
    
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba($lightBlack, 0.94);
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    
        .mainSection {
            position: sticky;
            max-width: 100%;
            min-height: 100%;
            margin: auto;
            z-index: 100;
            padding: 13rem 0;
    
            .mainHero {
                //background: yellow;
                max-width: 1675px;
                min-height: 100%;
                border: 1px solid white;
                margin: auto;
            }
    
        }        
    }
    
    .whatIDo {
        position: sticky;
        max-width: 100%;
        min-height: 100vh;
        background: white;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
    }
}