@include breakpoint-mobile(medium) {
    .Home {
        position: relative;
        min-height: 100vh;
    
    
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba($lightBlack, 0.94);
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .mainSection {
            display: flex;
            max-width: 100%;
            min-height: 100vh;
            margin: auto;
            //padding-top: 2rem;
            z-index: 1;
            text-align: center;
            align-items: center;

            * {
                z-index: 1;
            }
    
            .mainHero {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                //background-color: yellow;
                max-width: 100%;
                min-height: 6.25rem;
                padding: 0 48px;
                margin: 0 auto 0 auto;

                h3 {
                    font-size: 42.5px;
                    text-transform: capitalize;
                    font-weight: 700;
                    color: $white;
                    line-height: 3.375rem;
                    width: 20.5rem;
                    margin: 30px auto 32.003px auto;
                    text-align: center;
                    transition: font-size 300ms ease;
                }

                p {
                    color: $hoverWhite;
                    font-size: 22px;
                    max-width: 23.75rem;
                    line-height: 1.8rem;
                    font-weight: 400;
                    margin: 0 auto 56.002px auto;
                    text-align: center;
                    transition: font-size 300ms ease;
                }

                .contact {
                    @include redBtnStyle;
                    padding: 1rem 1.5rem;
                    margin: auto;
                }
            }
    
        }   
    }

    .whatIDo {
        display: flex;
        max-width: 100%;
        height: auto;
        align-items: center;
        background: #F8F5F2;
        padding: 72px 28.748px;
        z-index: 1;

        .whatIDoLeft {
            order: 2;
        }

        .whatIDoRight {
            order: 1;
            text-align: left;


            .whoAmI {
                position: relative;
                display: flex;
                color: $darkBlack;
                font-size: 25.25px;
                margin-left: 3.125rem;
                text-transform: capitalize;
                text-align: left;

                &:before {
                    position: absolute;
                    content: '';
                    top: 1.25rem;
                    left: -3.125rem;
                    width: 2.1875rem;
                    height: 0.1375rem;
                    background-color: $lightBlack;
                }
            }

            h3 {
                font-size: 32.675px;
                margin-bottom: 25.598px;
                font-weight: 450;
            }

            .description {
                font-size: 20.5px;
                margin-bottom: 36.803px;
                color: $lightBlue;
            }

            .viewPortfolio {
                @include blackBtnStyle;
                margin: 48px 0 0 0;

                &:hover {
                    background-color: $darkBlack;
                }
            }
        }
    }

    .mySkills {
        background-color: $white;
        min-height: auto;
        max-width: 100%;
        padding: 72px 28.748px;
        text-align: center;


        h3 {
            color: $lightBlack;
            font-weight: 500;
            text-align: left;
        }

        .skillsContainer {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15.75rem, 1fr));
            justify-content: center;
            align-items: center;
            gap: 24px;
            
            .skill {
                width: 100%;
                margin: auto;
                font-size: 40px;
                font-weight: bold;
                color: $lightGray;
                height: 5.5rem;
                border: 0.125rem solid $lightGray;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.25rem;
                transition: all 300ms ease-in-out;

                &:hover {
                    color: $darkBlack;
                    border-color: $darkBlack;
                }
            }
        }


    }

    .mySpecialty {
        min-height: 75vh;
        background-color: #F8F5F2;
        padding: 72px 28.748px;
        width: 100%;
        // background: lightblue;
        
        div {
            text-align: center;
            min-height: auto;
            max-width: 100%;
            padding: 20px auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1.97rem;
            
            
            div {
                width: 100%;
                background-color: #ebebeb;
                border: 0.998px solid #ebebeb;
                padding: 28px 35px;
                border-radius: 0.275rem;
                transition: box-shadow 300ms ease;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                
                &:not(:last-child) {
                    margin: 0 auto 0.4rem auto;
                }

                i {
                    font-size: 50px;
                }
    
                h3 {
                    font-size: 25.5px;
                    font-weight: 600;
                    color: $darkBlack;                   
                }
    
                p {
                    font-size: 19.5px;
                }
    
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 39.998px;
                    height: 39.998px;
                    margin: auto;
                    border-radius: 50%;
                    text-decoration: none;
                    font-size: 19.5px;
                    background-color: $darkBlack;
                    color: $white;
                    
    
                    * {
                        color: $white;
                    }
                }

                &:hover {
                    box-shadow: 0.802px 3px 8.002px rgba($lightBlack, 0.2);
                }
            }

            .development {
                border-color: $secondColor;
                background-color: $secondColor;
                color: $white;

                * {
                    color: $white;
                }
            }
        }
    }

    .selectedProjects {
        padding: 72px 28.2px;
        min-height: auto;
        max-width: 100%;
        margin: auto;
        text-align: center;

        h3 {
            text-align: left;
        }

        .projectDiv {
            max-width: 100%;
            min-height: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1.97rem;
            justify-content: center;
            align-items: center;
            margin-bottom: 3.5rem;


            .myFeatProj {
                width: 100%;
                margin: 0.46rem 0;
                min-height: 249.997px;
                
                
                * {
                    transition: display 300ms ease;
                }


                img {
                    width: 100%;
                    height: 300px;
                    object-fit: fill;
                }

                .bottomSection {
                    padding: 0.2rem 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-size: 1.5rem;
                        margin-top: 1rem;
                        align-self: center;
                    }
                    
                    a {
                        @include blackBtnStyle;
                        padding: 0.54rem 1rem;
                        margin: 0.2rem 0 0 0;
                    
                        &:hover {
                            background-color: $darkBlack;
                        }
                    }
                }

            }
        }
        
        .viewAllProjects {
            @include blackBtnStyle;
            margin: 4rem 0 0 0;
            padding: 1rem 1.3rem;

            &:hover {
                background-color: $darkBlack;
            }
        }
    }

    .preFooter {
        min-height: 70vh;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(399.998px, 1fr));

        div {
            padding: 72px 28.748px;
            color: $white;

            i {
                font-size: 2.5rem;
            }

            p {
                font-size: 1rem;
                font-weight: 600;
                margin: 0.75rem 0 0 0;
            }

            h3 {
                font-weight: 600;
              font-size: 1.65rem;
              margin: 0.5rem 0 2rem 0;
            }

            a {
                @include redBtnStyle;
                padding: 0.85rem 1.5rem;


                &:hover {
                    opacity: 0.75;
                }
            }
        }
        
        .getInTouch {
            min-height: 50%;
            background-color: rgba($darkBlack, 0.72);
        }
        
        .dnlResume {
            min-height: 50%;
            background-color: rgba($darkBlack, 0.78);
        }
    }


}

//Large Screen Design
@include breakpoint-desktop(large) {
    .Home {
        position: relative;
        min-height: 100vh;
    
    
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba($lightBlack, 0.94);
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .mainSection {
            display: flex;
            max-width: 100%;
            height: 100%;
            margin: auto;
            z-index: 1;
            text-align: center;

            * {
                z-index: 1;
            }
    
            .mainHero {
                max-width: 104.6875rem;
                min-height: 6.25rem;
                padding: 0 48px;
                margin: 0 auto 0 auto;

                h3 {
                    font-size: 50.5px;
                    text-transform: capitalize;
                    font-weight: 700;
                    color: $white;
                    line-height: 4.375rem;
                    max-width: 33.5rem;
                    margin: 180.998px auto 32.003px auto;
                    text-align: center;
                    transition: font-size 300ms ease;
                }

                p {
                    color: $hoverWhite;
                    font-size: 25px;
                    max-width: 39.75rem;
                    line-height: 2.5rem;
                    font-weight: 400;
                    margin: 0 auto 45.998px auto;
                    text-align: center;
                    transition: font-size 300ms ease;
                }

                .contact {
                    @include redBtnStyle;
                    padding: 1rem 1.5rem;
                    margin: auto;
                }
            }
    
        }   
    }

    .whatIDo {
        display: flex;
        max-width: 100%;
        height: auto;
        align-items: center;
        background: #F8F5F2;
        padding: 72px 50.2px;
        z-index: 1;

        .whatIDoLeft {
            order: 1;
        }

        .whatIDoRight {
            order: 2;
            text-align: left;


            .whoAmI {
                position: relative;
                display: flex;
                color: $darkBlack;
                font-size: 1.7vw;
                margin-left: 3.125rem;
                text-transform: capitalize;
                text-align: left;

                &:before {
                    position: absolute;
                    content: '';
                    top: 1.25rem;
                    left: -3.125rem;
                    width: 2.1875rem;
                    height: 0.1375rem;
                    background-color: $lightBlack;
                }
            }

            h3 {
                font-size: 2.49vw;
                margin-bottom: 25.598px;
                font-weight: 450;
            }

            .description {
                font-size: 1.4vw;
                margin-bottom: 36.803px;
                color: $lightBlue;
            }

            .viewPortfolio {
                @include blackBtnStyle;
                margin: 48px 0 0 0;

                &:hover {
                    background-color: $darkBlack;
                }
            }
        }
    }

    .mySkills {
        background-color: $white;
        min-height: auto;
        max-width: 100%;
        padding: 72px 50.2px;
        text-align: center;


        h3 {
            color: $lightBlack;
            font-weight: 500;
            text-align: left;
        }

        .skillsContainer {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15.75rem, 1fr));
            justify-content: center;
            align-items: center;
            gap: 24px;
            
            .skill {
                width: 100%;
                margin: auto;
                font-size: 23px;
                font-weight: bold;
                color: $lightGray;
                height: 5.5rem;
                border: 0.12rem solid $lightGray;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.25rem;
                transition: all 300ms ease-in-out;

                &:hover {
                    color: $darkBlack;
                    border-color: $darkBlack;
                }
            }
        }


    }

    .mySpecialty {
        min-height: 75vh;
        background-color: #F8F5F2;
        padding: 72px 50.2px;
        width: 100%;
        
        div {
            text-align: center;
            min-height: auto;
            max-width: 100%;
            padding: 20px auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            // gap: 1.37rem;
            
            
            div {
                width: 90%;
                background-color: #ebebeb;
                border: 0.998px solid #ebebeb;
                padding: 28px 30px;
                border-radius: 0.275rem;
                transition: box-shadow 300ms ease;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                
                // &:not(:last-child) {
                //     margin: 0 auto 0.4rem auto;
                // }

                i {
                    font-size: 50px;
                }
    
                h3 {
                    font-size: 25.5px;
                    font-weight: 600;
                    color: $darkBlack;                   
                }
    
                p {
                    font-size: 19.5px;
                }
    
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 39.998px;
                    height: 39.998px;
                    margin: auto;
                    border-radius: 50%;
                    text-decoration: none;
                    font-size: 19.5px;
                    background-color: $darkBlack;
                    color: $white;
                    
    
                    * {
                        color: $white;
                    }
                }

                &:hover {
                    box-shadow: 0.802px 3px 8.002px rgba($lightBlack, 0.2);
                }
            }

            .development {
                border-color: $secondColor;
                background-color: $secondColor;
                color: $white;

                * {
                    color: $white;
                }
            }
        }
    }

    .selectedProjects {
        padding: 72px 50.2px;
        min-height: auto;
        max-width: 100%;
        margin: auto;
        text-align: center;

        h3 {
            text-align: left;
        }

        .projectDiv {
            max-width: 100%;
            min-height: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 2.5rem;
            justify-content: center;
            align-items: center;
            margin-bottom: 3.5rem;


            .myFeatProj {
                width: 100%;
                margin: 0.46rem 0;
                min-height: 249.997px;
                
                
                * {
                    transition: display 300ms ease;
                }


                img {
                    width: 100%;
                    height: 300px;
                    object-fit: fill;
                }

                .bottomSection {
                    padding: 0.2rem 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-size: 1.5rem;
                        margin-top: 1rem;
                        align-self: center;
                    }
                    
                    a {
                        @include blackBtnStyle;
                        padding: 0.54rem 1rem;
                        margin: 0.2rem 0 0 0;
                    
                        &:hover {
                            background-color: $darkBlack;
                        }
                    }
                }

            }
        }
        
        .viewAllProjects {
            @include blackBtnStyle;
            margin: 4rem 0 0 0;
            padding: 1rem 1.3rem;

            &:hover {
                background-color: $darkBlack;
            }
        }
    }

    .preFooter {
        min-height: 50vh;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(399.998px, 1fr));


        div {
            padding: 100px 50.2px 72px 50.2px;
            color: $white;

            i {
                font-size: 2.5rem;
            }

            p {
                font-size: 1rem;
                font-weight: 600;
                margin: 0.75rem 0 0 0;
            }

            h3 {
                font-weight: 600;
              font-size: 1.65rem;
              margin: 0.5rem 0 2rem 0;
            }

            a {
                @include redBtnStyle;
                padding: 0.85rem 1.5rem;


                &:hover {
                    opacity: 0.75;
                }
            }
        }
        
        .getInTouch {
            min-height: 100%;
            background-color: rgba($darkBlack, 0.72);
        }
        
        .dnlResume {
            min-height: 100%;
            background-color: rgba($darkBlack, 0.78);
        }
    }
}