.Home {
    position: relative;
    min-height: 100vh;


    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba($lightBlack, 0.94);
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .mainSection {
        position: sticky;
        max-width: 100%;
        height: 100%;
        margin: auto;
        z-index: 200;

        .mainHero {
            //background: yellow;
            max-width: 1675px;
            border: 1px solid white;;
            margin: auto;
        }

    }

    
    .whatIDo {
        min-height: 70vh;
        background: white;
    }
}