.Home {
    position: relative;
    min-height: 100vh;
    display: flex;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba($lightBlack, 0.94);
        height: 100%;
        width: 100%;
    }
}