* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 0;
}

.Home {
    //Mobile Responsive Design
    @include breakpoint-mobile(medium) {
        z-index: 0;
        .heroSocial {
            display: none;
        }



    }



    //Desktop Design
    @include breakpoint-mobile(medium) {
        z-index: 0;

        .heroSocial {
            
        }



    }
}