.Home {
    .hero {
        background-color: $mainColor;
        padding: 7rem 0;
        height: 710px;

        .heroContainer {
            max-width: 1312px;
            margin: auto;
            background-color: yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            height: 100%;

            .heroLeft {
                padding: 2rem 4rem;
                background: red;
                width: 35%;
                min-height: 100%;

                .grayCircle {
                    width: 300px;
                    height: 300px;
                }
            }

            .heroRight {
                padding: 2rem 4rem;
                background: green;
                width: 35%;
                min-height: 100%;
            }
        }
    }
}