.Home {
    max-width: 100%;

    .heroSection {
        position: relative;
        min-height: 90vh;
        max-width: 100%;

        > * {
            z-index: 100;
        }



        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba($darkBlack, 0.90);
            z-index: 0.7;
        }
        


        @include breakpoint-mobile(medium) {
            min-height: 75vh;
        }




        //Home container section
        .homeContainer {
            position: absolute;
            left: 0;
            max-width: 100%;
            z-index: 100;
            
            .heroSocial {

                a {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
}