.Home {
    max-width: 100%;

    .heroSection {
        position: relative;
        min-height: 90vh;
        max-width: 100%;

        > * {
            z-index: 100;
        }



        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba($darkBlack, 0.90);
            z-index: 0.7;
        }
        


        @include breakpoint-mobile(medium) {
            min-height: 75vh;
        }




        //Home container section
        .homeContainer {
            position: absolute;
            //@include myContainer;
            margin: auto;
            background: red;
            height: 100%;
            z-index: 100;
            
            .heroSocial {
                position: absolute;
                top: 11rem;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                //background-color: $lightBlack;
                width: 5rem;

                a {
                    text-decoration: none;
                    color: $white;
                    font-size: 1.2rem;
                    padding: 1rem;
                    border: 1px solid $secondColor;
                }
            }
        }
    }
}