@include breakpoint-mobile(small) {

}


@include breakpoint-desktop(large) {
    .Home {
        position: relative;
        min-height: 100vh;
    
    
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba($lightBlack, 0.94);
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    
        .mainSection {
            position: sticky;
            max-width: 100%;
            min-height: 100%;
            margin: auto;
            z-index: 100;
            padding: 17rem 0;
            text-align: center;
    
            .mainHero {
                //background: yellow;
                max-width: 1675px;
                min-height: 100px;
                //border: 1px solid white;
                margin: auto;

                h3 {
                    font-size: 3.93vw;
                    text-transform: capitalize;
                    font-weight: 700;
                    color: $white;
                    //background-color: yellow;
                    max-width: 800px;
                    margin: 0 auto 2rem auto;
                    text-align: center;
                }

                p {
                    color: white;
                    font-size: 1.375vw;
                    max-width: 780px;
                    font-weight: 400;
                    margin: 0 auto 2rem auto;
                    text-align: center;
                }

                .contact {
                    text-decoration: none;
                    background-color: $secondColor;
                    padding: 1rem 1.82rem;
                    font-weight: 600;
                    margin: auto;
                    color: $white;
                }
            }
    
        }        
    }
    
    .whatIDo {
        position: sticky;
        max-width: 100%;
        min-height: 100vh;
        background: white;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
    }
}