.Home {
    max-width: 100%;

    .heroSection {
        position: relative;
        min-height: 90vh;
        max-width: 100%;

        > * {
            z-index: 100;
        }



        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba($darkBlack, 0.90);
            z-index: 0.7;
        }
        


        @include breakpoint-mobile(medium) {
            min-height: 75vh;
        }


        

            .heroSocial {
                position: absolute;
                top: 17rem;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                //background-color: $lightBlack;
                max-width: 5rem;
                z-index: 2;

                @include breakpoint-mobile(medium) {
                    top: 12rem;
                }
    
                a {
                    text-decoration: none;
                    text-align: center;
                    color: $white;
                    font-size: 1.2rem;
                    padding: 1.2rem 1.75rem;
                    border: 1px solid $lightBlack;
                    transition: display 300ms ease-in-out;
    
                    &:hover {
                        border: 1px solid $lightBlack;
                        background-color: $lightBlack;
                    }
                }
            }
    
            .heroMain {
                position: absolute;
                background-color: yellow;
                height: 100%;

            }
        
        
    }
}