.Home {
    .heroSection {
        min-height: 100vh;
        background: url('../images/bgImage.PNG') no-repeat center center / cover;
        


        @include breakpoint-mobile(medium) {
            min-height: 70vh;
        }
    }
}