@include breakpoint-mobile(medium) {
    .Home {
        position: relative;
        min-height: 90vh;
    
    
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba($lightBlack, 0.94);
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .mainSection {
            display: flex;
            max-width: 100%;
            height: 100%;
            margin: auto;
            //border: 1px solid $white;
            z-index: 1;
            //padding: 10rem 0;
            text-align: center;

            * {
                z-index: 1;
            }
    
            .mainHero {
                max-width: 1675px;
                min-height: 100px;
                padding: 0 3rem;
                margin: 0 auto 0 auto;

                h3 {
                    font-size: 9vw;
                    text-transform: capitalize;
                    font-weight: 700;
                    color: $white;
                    line-height: 70px;
                    max-width: 600px;
                    margin: 10rem auto 2rem auto;
                    text-align: center;
                    transition: font-size 300ms ease;
                }

                p {
                    color: white;
                    font-size: 4vw;
                    max-width: 380px;
                    line-height: 30px;
                    font-weight: 400;
                    margin: 0 auto 3.5rem auto;
                    text-align: center;
                    transition: font-size 300ms ease;
                }

                .contact {
                    @include redBtnStyle;
                    margin: auto;
                }
            }
    
        }   
    }

    .whatIDo {
        position: sticky;
        max-width: 100%;
        min-height: auto;
        background: #F8F5F2;
        padding: 4.5rem 1.8rem;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        .whatIDoLeft {
            order: 2;
        }

        .whatIDoRight {
            order: 1;
            text-align: left;


            .whoAmI {
                position: relative;
                color: $darkBlack;
                font-size: 4.7vw;
                margin-left: 50px;
                text-transform: capitalize;
                text-align: left;

                &:before {
                    position: absolute;
                    content: '';
                    top: 18px;
                    left: -50px;
                    width: 35px;
                    height: 2.2px;
                    background-color: $lightBlack;
                }
            }

            h3 {
                font-size: 6.89vw;
                margin-bottom: 1.6rem;
                font-weight: 450;
            }

            .description {
                font-size: 3.7vw;
                margin-bottom: 2.3rem;
                color: $lightBlue;
            }

            .viewPortfolio {
                @include blackBtnStyle;
                margin: 3rem 0 0 0;

                &:hover {
                    background-color: $darkBlack;
                }
            }
        }
    }

    .skills {
        background-color: yellow;
        min-height: 85vh;
        max-width: 100%;





    }
}


@include breakpoint-desktop(large) {
    .Home {
        position: relative;
        min-height: 100vh;
    
    
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba($lightBlack, 0.94);
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    
        .mainSection {
            position: sticky;
            max-width: 100%;
            min-height: 100%;
            margin: auto;
            z-index: 100;
            padding: 15rem 0;
            text-align: center;
    
            .mainHero {
                //background: yellow;
                max-width: 1675px;
                min-height: 100px;
                //border: 1px solid white;
                margin: auto;

                h3 {
                    font-size: 4.5vw;
                    text-transform: capitalize;
                    font-weight: 700;
                    line-height: 85px;
                    color: $white;
                    max-width: 800px;
                    margin: 0 auto 2rem auto;
                    text-align: center;
                }

                p {
                    color: white;
                    font-size: 1.85vw;
                    line-height: 50px;
                    max-width: 780px;
                    font-weight: 400;
                    margin: 0 auto 3.5rem auto;
                    text-align: center;
                }

                .contact {
                    text-decoration: none;
                    background-color: $secondColor;
                    padding: 1.2rem 1.82rem;
                    font-weight: 600;
                    margin: auto;
                    color: $white;
                }
            }
    
        }        
    }
    
    .whatIDo {
        position: sticky;
        max-width: 100%;
        min-height: 100vh;
        background: white;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
    }
}