.Home {
    position: relative;
    min-height: 100vh;


    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba($lightBlack, 0.94);
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .mainSection {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba($darkBlack, 1);
        max-width: 100%;
        z-index: 200;
    }
}