/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Projects {
        position: relative;
        @include mobilePadding;
        max-width: 100%;
        
        
        .projectsContainer {
            background-color: yellow;
            min-height: 80vh;
            padding: 3rem 0 0 0;
            width: 1120px;
            margin: auto;
        }

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Projects {
        position: relative;
        @include mobilePadding;
        max-width: 100%;
        
        
        .projectsContainer {
            background-color: rgb(190, 135, 176);
            min-height: 100vh;
            padding: 5.5rem 0 0 0;
            max-width: 1120px;
            margin: auto;
        }

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Projects {
        @include mobilePadding;
        max-width: 100%;
        
        
        
        .projectsContainer {
            background-color: rgb(153, 153, 93);
            min-height: 100vh;
            max-width: 1120px;
            margin: auto;

            .projectDiv {
                //max-width: 100%;

                .myFeatProj {
                    max-width: 100%;
                    border-bottom: 1px solid #c5c5c5;
                    min-height: 200px;
                    margin: 2rem 0;
                    display: grid;
                    grid-template-columns: 3fr 4fr;

                    .left {
                        background: lightblue;
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        img {
                            height: 100%;
                            max-width: 50%;
                            object-fit: cover;
                        }

                        .shortDesc {
                            background: lightgreen;
                            text-align: left;
                            color: black;
                        }
                    }

                    .right {

                    }
                }
            }
        }

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Projects {
        @include mobilePadding;
        max-width: 100%;
        
        .Navbar {
            background-color: $darkBlack;
        }
        
        .projectsContainer {
            background-color: yellow;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Projects {
        @include mobilePadding;
        max-width: 100%;
        
        
        .projectsContainer {
            
        }
    }
}
