
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$mianColor: #17305A;
$secondColor: #F9373A;
$white: #ffffff;
$darkBlack: #000000;
$borderGray: #585858;
$cursiveFont: 'Geostar', sans-serif;
$hoverWhite: #cac9c9;
$lightGray: rgb(116, 111, 111);
$darkBlue: #161725;
$lightBlue: #292C3E;
$lightBlack: #212122;
$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Source Sans Pro', sans-serif;