.About {
    max-width: 100%;
    min-height: 100vh;
    padding: 5rem 1rem;

    .aboutContainer {
        max-width: 1130px;
        min-height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 1.5rem;

        .aboutLeft {
            // background-color: yellow;
            padding: 2rem;
            min-height: auto;

            h3 {
                text-transform: uppercase;
                color: $cardColor;
                font-size: 1.3rem;
            }

            h2 {
                position: relative;
                text-transform: uppercase;
                color: $cardColor;
                font-size: 1.65rem;
                margin: 1rem 0 4.2rem 0;
                max-width: 300px;
                line-height: 2.2rem;

                &::after {
                    position: absolute;
                    content: '';
                    top: 95px;
                    left: 0;
                    height: 3.5px;
                    width: 70px;
                    border-radius: 1000px;
                    background-color: $myGold;
                }
            }

            p {
                font-size: 1rem;
            }
        }

        .aboutRight {
            background-color: $myGold;
            padding: 1.5rem;
            min-height: 100%;

            img {
                max-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }
    }
}