@include breakpoint-mobile(medium) {
    .About {
        position: relative;
        height: 100%;
        max-width: 100%;

        .Navbar {
            background-color: $white;

            * {
                color: $darkBlack;
            }
        }
    

        .aboutContainer {
            @include mobilePadding;
            display: flex;
            max-width: 100%;
            min-height: 100vh;
            margin: 0 auto;
            background-color: yellow;
            z-index: 1;
            align-items: center;

            * {
                z-index: 1;
            }

            &__myName {
                margin-top: 100px;
                text-align: center;
            }

            &__subHeader {
                font-size: 23px;
            }

            &__header {
                font-size: 25px;
                // font-weight: 600;
            }

            &__description {
                font-size: 18px;
            }

            &__image {
                max-width: 100%;
                object-fit: cover;
            }
    
            
        }   
    }


}