@include breakpoint-mobile(medium) {
    .Home {
        position: relative;
        min-height: 100vh;
    
    
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba($lightBlack, 0.94);
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .mainSection {
            display: flex;
            max-width: 100%;
            height: 100%;
            margin: auto;
            z-index: 1;
            text-align: center;

            * {
                z-index: 1;
            }
    
            .mainHero {
                max-width: 104.6875rem;
                min-height: 6.25rem;
                padding: 0 48px;
                margin: 0 auto 0 auto;

                h3 {
                    font-size: 9vw;
                    text-transform: capitalize;
                    font-weight: 700;
                    color: $white;
                    line-height: 4.375rem;
                    max-width: 37.5rem;
                    margin: 208px auto 32px auto;
                    text-align: center;
                    transition: font-size 300ms ease;
                }

                p {
                    color: white;
                    font-size: 4vw;
                    max-width: 23.75rem;
                    line-height: 1.875rem;
                    font-weight: 400;
                    margin: 0 auto 56px auto;
                    text-align: center;
                    transition: font-size 300ms ease;
                }

                .contact {
                    @include redBtnStyle;
                    margin: auto;
                }
            }
    
        }   
    }

    .whatIDo {
        display: flex;
        max-width: 100%;
        height: auto;
        align-items: center;
        background: #F8F5F2;
        padding: 72px 28.75px;
        z-index: 1;

        .whatIDoLeft {
            order: 2;
        }

        .whatIDoRight {
            order: 1;
            text-align: left;


            .whoAmI {
                position: relative;
                display: flex;
                color: $darkBlack;
                font-size: 4.7vw;
                margin-left: 3.125rem;
                text-transform: capitalize;
                text-align: left;

                &:before {
                    position: absolute;
                    content: '';
                    top: 1.25rem;
                    left: -3.125rem;
                    width: 2.1875rem;
                    height: 0.1375rem;
                    background-color: $lightBlack;
                }
            }

            h3 {
                font-size: 6.49vw;
                margin-bottom: 25.6px;
                font-weight: 450;
            }

            .description {
                font-size: 3.4vw;
                margin-bottom: 36.8px;
                color: $lightBlue;
            }

            .viewPortfolio {
                @include blackBtnStyle;
                margin: 48px 0 0 0;

                &:hover {
                    background-color: $darkBlack;
                }
            }
        }
    }

    .mySkills {
        background-color: $white;
        min-height: auto;
        max-width: 100%;
        padding: 72px 28.75px;
        text-align: center;


        h3 {
            color: $lightBlack;
            font-weight: 500;
            text-align: left;
        }

        .skillsContainer {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15.75rem, 1fr));
            justify-content: center;
            align-items: center;
            gap: 24px;
            
            .skill {
                width: 100%;
                margin: auto;
                font-size: 6.7vw;
                font-weight: bold;
                color: $lightGray;
                height: 5.5rem;
                border: 0.0625rem solid $lightGray;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.25rem;
                transition: color 300ms ease-in-out;

                &:hover {
                    color: $darkBlack;
                }
            }
        }


    }

    .mySpecialty {
        min-height: 75vh;
        background-color: #F8F5F2;
        padding: 72px 28.75px;
        width: 100%;
        // background: lightblue;
        
        div {
            text-align: center;
            min-height: auto;
            max-width: 100%;
            padding: 20px auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15.75rem, 1fr));
            
            
            div {
                width: 100%;
                background-color: #ebebeb;
                border: 1px solid #ebebeb;
                padding: 3.4vw 5vw;
                border-radius: 0.275rem;
                transition: box-shadow 300ms ease;
                
                
                &:not(:last-child) {
                    margin: 0 auto 2rem auto;
                }

                i {
                    font-size: 8vw;
    
                }
    
                h3 {
                    font-size: 4.2vw;
                    color: $darkBlack;
                    font-weight: 543;

                    
                }
    
                p {
                    font-size: 2.9vw;
                }
    
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    margin: auto;
                    border-radius: 50%;
                    text-decoration: none;
                    font-size: 4.3vw;
                    background-color: $darkBlack;
                    color: $white;
                    
    
                    * {
                        // font-size: 6vw;
                        color: $white;
                    }
                }

                &:hover {
                    box-shadow: 0.8px 3px 8px rgba($lightBlack, 0.2);
                }
            }

            .development {
                border-color: $secondColor;
                background-color: $secondColor;
                color: $white;

                * {
                    color: $white;
                }
            }
        }
    }

    .selectedProjects {
        padding: 72px 28.2px;
        min-height: auto;
        max-width: 100%;
        margin: auto;

        .projectDiv {
            max-width: 100%;
            min-height: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15.75rem, 1fr));
            grid: 24px;
            justify-content: center;
            align-items: center;


            .myFeatProj {
                max-width: 100%;
                margin: 1.56rem 0;
                height: 300px;
                position: relative;
                transition: all 300ms ease;


                * {
                    position: absolute;
                }


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }

                p {
                    bottom: 45px;
                    left: 40px;
                    color: $white;
                    display: none;
                    
                    &:hover {
                        p, a {
                            display: block;
                        }
                    }
                }
                
                a {
                    bottom: 25px;
                    left: 40px;
                    color: $white;
                    display: none;
                }


                // &:hover {
                //     p, a {
                //         display: block;
                //     }
                // }
            }

        }
    }


}

//Large Screen Design
@include breakpoint-desktop(large) {
    .Home {
        position: relative;
        min-height: 100vh;
    
    
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba($lightBlack, 0.94);
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    
        .mainSection {
            position: sticky;
            max-width: 100%;
            min-height: 100%;
            margin: auto;
            z-index: 100;
            padding: 240px 0;
            text-align: center;
    
            .mainHero {
                //background: yellow;
                max-width: 104.6875rem;
                min-height: 6.25rem;
                //border: 0.0625rem solid white;
                margin: auto;

                h3 {
                    font-size: 4.5vw;
                    text-transform: capitalize;
                    font-weight: 700;
                    line-height: 5.3125rem;
                    color: $white;
                    max-width: 50rem;
                    margin: 0 auto 32px auto;
                    text-align: center;
                }

                p {
                    color: white;
                    font-size: 1.85vw;
                    line-height: 3.125rem;
                    max-width: 48.75rem;
                    font-weight: 400;
                    margin: 0 auto 56px auto;
                    text-align: center;
                }

                .contact {
                    text-decoration: none;
                    background-color: $secondColor;
                    padding: 19.2px 29.12px;
                    font-weight: 600;
                    margin: auto;
                    color: $white;
                }
            }
    
        }        
    }
    
    .whatIDo {
        position: sticky;
        max-width: 100%;
        min-height: 100vh;
        background: white;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
    }
}