@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.Home .hero {
  background-color: #E9F0F8;
  padding: 8.6rem 0;
  height: 75vh;
  max-width: 100%;
  margin: auto;
}

.Home .hero .heroContainer {
  max-width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  height: 100%;
}

.Home .hero .heroContainer .heroLeft {
  position: relative;
  padding: 2rem 4rem;
  width: 35%;
  min-height: 100%;
}

.Home .hero .heroContainer .heroLeft .grayCircle {
  position: absolute;
  top: 1.2rem;
  right: 1px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #dadee2;
}

.Home .hero .heroContainer .heroLeft .heroImage {
  position: absolute;
  left: 0;
  height: 400px;
}

.Home .hero .heroContainer .heroLeft .webdes {
  position: absolute;
  top: 19rem;
}

.Home .hero .heroContainer .heroLeft .webdev {
  position: absolute;
  top: 6rem;
  right: 1rem;
}

.Home .hero .heroContainer .heroLeft .frontE {
  position: absolute;
  top: 1rem;
  right: -1rem;
}

.Home .hero .heroContainer .heroLeft .title {
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 3px;
}

.Home .hero .heroContainer .heroRight {
  padding: 2rem 4rem;
  width: 35%;
  min-height: 100%;
}

.Home .hero .heroContainer .heroRight h2 {
  color: #464caa;
  margin-bottom: 1.8rem;
}

.Home .hero .heroContainer .heroRight h3 {
  color: black;
  font-size: 40px;
  margin-bottom: 1.8rem;
  line-height: 3.4rem;
}

.Home .hero .heroContainer .heroRight p {
  width: 500px;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 2.05rem;
}

.Home .hero .heroContainer .heroRight .heroBtn {
  padding: 0.77rem 2.3rem;
  margin-right: 1.8rem;
  font-size: 1.1rem;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-radius: 3px;
}

.Home .hero .heroContainer .heroRight .dnldResume {
  background-color: #dadee2;
}

.Home .hero .heroContainer .heroRight .heroHireMe {
  background-color: #464caa;
  color: white;
}

.Home .whatIDo {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .whatIDo .whatIdo-container {
  max-width: 1320px;
  padding: 3rem 4rem;
  height: 85%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.9fr)[3];
      grid-template-columns: repeat(3, 0.9fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Home .whatIDo .whatIdo-container .myCard {
  height: 100%;
  background-color: #464caa;
  border: solid #464caa 1px;
  margin: 0 1.4rem;
}

.Home .selectedProjects {
  height: 70vh;
  text-align: center;
}

.Navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  padding: 1.5rem 3.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  max-width: 100%;
}

.Navbar .myLogo {
  font-size: 1.9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #464caa;
}

.Navbar .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin: auto;
}

.Navbar .navLinks .link {
  font-size: 1.25rem;
  margin: 0 1rem;
}

.Navbar .navLinks .link:hover {
  color: #464caa;
}

.Navbar .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar .nav-right .hireMe {
  font-size: 1.3rem;
  margin-right: 1.3rem;
  padding: 12px 32px;
  background-color: #464caa;
  color: white;
  border-radius: 3px;
}

.Navbar .nav-right .switch {
  position: relative;
  cursor: pointer;
  width: 80px;
  height: 40px;
  background-color: #bcc9d4;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Navbar .nav-right .switch .flicker {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  left: 7px;
  top: 5px;
  background: white;
  -webkit-box-shadow: inset 4px 4px 4px #89a5b8, inset -4px -4px -4px rgba(255, 255, 255, 0.9);
          box-shadow: inset 4px 4px 4px #89a5b8, inset -4px -4px -4px rgba(255, 255, 255, 0.9);
}

.Navbar .nav-right .h-menu {
  min-width: 35px;
  height: 35px;
  background: red;
  padding: 1px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
}

.Navbar .nav-right .h-menu span {
  height: 6px;
  width: 90%;
  color: black;
  margin: 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1.3rem;
}

.darkTheme {
  background-color: skyblue;
  color: white;
}
/*# sourceMappingURL=styles.css.map */