// Mobile Responsive Design
@include breakpoint-mobile(medium) {
    .Footer {
        @include mobilePadding;
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: $darkBlack;
        min-height: 81.8vh;
        color: $white;
        
        
        &__header {
            padding: 30px 0;
            border-bottom: 1px solid $borderGray;

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $white;
                font-size: 30px;
                font-weight: 500;


                &:hover {
                    color: $white;
                }
            }
        }

        &__usefulLinks {
            border-bottom: 1px solid $borderGray;
            padding: 27px 0;
            
            h3 {
                font-size: 16px;
            }
            
            div {
                display: flex;
                flex-direction: column;
                
                a {
                    text-decoration: none;
                    width: 10px;
                    margin-top: 12px;
                    display: inline;
                    color: $lightGray;
                    
                    &:first-child {
                        margin-top: 20px;
                    }
                }
            }
        }
        
        &__socialLinks {
            padding: 27px 0;
            border-bottom: 1px solid $borderGray;

            h3 {
                font-size: 16px;
            }
            
            
        }
        
    }
}