// Mobile Responsive Design
@include breakpoint-mobile(medium) {
    .Footer {
        @include mobilePadding;
        background-color: $darkBlack;
        min-height: 85vh;
        color: $white;
    }
}