.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 2.4rem 4.5rem;
    
    
    .myLogo {
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
    }

    

    .navLinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        .home {

        }

        .about {

        }

        .portfolio {

        }

        .contact-me {

        }

        .link {
            font-size: 1.1rem;
            margin: 0 1rem;

            &:hover {

            }
        }
    }

    .nav-right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hireMe {
            font-size: 1.4rem;
            margin-right: 1.3rem;
        }

        .switch {
            position: relative;
            cursor: pointer;
            width: 85px;
            height: 38px;
            background-color: lightblue;
            margin-right: 1.3rem;
            border-radius: 40px;
            user-select: none;

            .switch-dot {

            }
            .switch-moon {

            }
        }
        
        .h-menu {
            min-width: 35px;
            height: 35px;
            background: red;
            padding: 1px;
            cursor: pointer;
            user-select: none;

            span {
                height: 6px;
                width: 90%;
                color: black;
                margin: 3px 0;
                user-select: none;
            }
        }
    }

}