.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 2.4rem 4.5rem;
    
    
    .myLogo {
        font-size: 1.3rem;
    }

    .middleLinks {

        .navLinks {

            .home {

            }

            .about {

            }

            .portfolio {

            }

            .contact-me {

            }

            .link {
                font-size: 1.2rem;

                &:hover {

                }
            }
        }
    }

    .nav-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hireMe {

        }

        .switch {
            cursor: pointer;
            width: 50px;
            height: 30px;
            background-color: lightblue;

            .switch-dot {

            }
            .switch-moon {

            }
        }
        
        .h-menu {
            min-width: 35px;
            height: 35px;
            background: red;
            padding: 1px;
            cursor: pointer;

            span {
                height: 6px;
                width: 90%;
                color: black;
                margin: 3px 0;
            }
        }
    }

}