.Navbar {
    //Mobile Responsive Design
    @include breakpoint-mobile(medium) {
        background-color: $darkBlack;
        height: 70px;
        max-width: 100%;

        .NavbarContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;


            .myLogo {
                text-decoration: none;
                color: $white;
            }

            .navLinks {
                display: none;
                justify-content: space-between;
            }

            .toggle {
                width: 28px;
                height: 20px;
                display: flex;
                flex-direction: column;
                cursor: pointer;

                span {
                    display: block;
                    height: 2px;
                    width: 26px;
                    background: #ffffff;
                    transform-origin: 3px 1px;
                    transition: all 300ms ease-in-out;

                    &:first-child() {
                        margin-top: 10px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }

                
            }

            .open {
                .line1 {
                    transform: rotate(45deg);
                }

                .line2 {
                    opacity: 0;
                }

                .line3 {
                    transform: rotate(-45deg);
                }
            }



        }

        .respNav {
            display: none;
        }
    }

    //Desktop Design
    @include breakpoint-desktop(large) {
        //Desktop Design
        background-color: $darkBlack;
        height: 70px;
        max-width: 100%;
        z-index: 100;


        .NavbarContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;


            .myLogo {
                text-decoration: none;
                color: $white;
            }

            .navLinks {
                display: flex;
                justify-content: space-between;
            }

            .toggle {
                width: 28px;
                height: 20px;
                display: none;
                flex-direction: column;
                cursor: pointer;

                span {
                    display: block;
                    height: 2px;
                    width: 26px;
                    background: #ffffff;
                    transform-origin: 3px 1px;
                    transition: all 300ms ease-in-out;

                    &:first-child() {
                        margin-top: 10px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
                
            }

            .open {
                display: none;
                
                .line1 {
                    transform: rotate(45deg);
                }

                .line2 {
                    opacity: 0;
                }

                .line3 {
                    transform: rotate(-45deg);
                }
            }



        }

        .respNav {
            display: none;
        }
    }

}