.Navbar {
    position: sticky;
    top: 0;
    max-width: 100%;
    padding: 0.4rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: auto;
    background-color: $darkBlack;
    transition: width 0.3s ease-in-out;


    @include breakpoint-mobile(medium) {
        padding: 0.2rem 0;
    }
    
    

    > div {
        // background-color: lightblue;
        @include myContainer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .myLogo {
            text-decoration: none;
            
            h3 {
                font-size: 2rem;
                color: $white;
                text-transform: uppercase;
            }
        }

        .navLinks {
            display: block;

            @include breakpoint-mobile(medium) {
                display: none;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                margin: 0 1rem;
                font-size: 1.3rem;
                padding: 0.5rem 1.2rem;
                color: $white;
                transition: color 0.3s ease;

                &:hover {
                    color: $hoverWhite;
                }
            }

            .contact {
                border: 1px solid $secondColor;
                background-color: $secondColor;
                color: $white;
                border-radius: 5px;

                &:hover {
                    color: $white;
                }
            }    
        }

        .menu {
            display: none;
            cursor: pointer;
            
            span {
                width: 1rem;
                height: 3px;
                background-color: $white;
            }

            @include breakpoint-mobile(medium) {
                display: block;

                span {
                    display: block;
                    width: 2rem;
                    height: 3px;
                    border-radius: 2000px;
                    margin: 0 0 7px 0;
                    background-color: $white;
                    transform-origin: 2px 2px;
                    transition: all 300ms ease-in-out;
                }
                
            }
        }

        .open {
            span {
                transform-origin: 2px 1.3px;
                transition: transform 0.3s ease;
            }

            @include breakpoint-mobile(medium) {
                display: block;

                .line1 {
                    transform: rotate(45deg)
                }

                .line2 {
                    opacity: 0;
                }

                .line3 {
                    transform: rotate(-45deg)
                }
                
            }
        }


        .respNav {
            position: fixed;
            right: 0;
            top: 90px;
            background-color: $lightBlack;
            width: 100%;
            height: auto;
            padding: 0 0 2rem 0;
            text-transform: uppercase;
            transition: display 300ms ease-in-out;
            display: none;


            a {
                display: inline-block;
                width: inherit;
                text-transform: uppercase;
                color: $white;
                text-align: right;
                font-size: 1.2rem;
                text-decoration: none;
                border-bottom: 1px solid $borderGray;
                padding: 1rem 2rem; 
                transition: color 300ms ease-in-out;
                transition: background-color 300ms ease-in-out;

                &:hover {
                    background-color: $darkBlack;
                    color: $hoverWhite;
                }

                &:first-child {
                    border-top: 1px solid $borderGray;
                }
            }



            @include breakpoint-mobile(medium) {
                //display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
            
            }
        }

        .respNavOpen {
            display: flex;
            transition: display 300ms ease-in-out;
        }
    }
}