.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 1.5rem 3.5rem;
    
    
    .myLogo {
        font-size: 1.9rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $secondaryColor;
    }

    

    .navLinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
      

        .home {

        }

        .about {

        }

        .portfolio {

        }

        .contact-me {

        }

        .link {
            font-size: 1.23rem;
            margin: 0 1rem;

            &:hover {
                color: $secondaryColor;
            }
        }
    }

    .nav-right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hireMe {
            font-size: 1.3rem;
            margin-right: 1.3rem;
            padding: 15px 32px;
            background-color: $secondaryColor;
            color: white;
            border-radius: 3px;
        }

        .switch {
            position: relative;
            cursor: pointer;
            width: 80px;
            height: 40px;
            background-color: #bcc9d4;
            margin-right: 1.3rem;
            border-radius: 20px;
            user-select: none;

            .flicker {
                position: absolute;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                left: 7px;
                top: 5px;
                background: white;
                box-shadow: 
                    inset 4px 4px 4px rgb(137, 165, 184),
                    inset -4px -4px -4px rgba(255, 255, 255, 0.9);
            }
            .switch-moon {

            }
        }
        
        .h-menu {
            min-width: 35px;
            height: 35px;
            background: red;
            padding: 1px;
            cursor: pointer;
            user-select: none;
            display: none;

            span {
                height: 6px;
                width: 90%;
                color: black;
                margin: 3px 0;
                user-select: none;
            }
        }
    }

}