.Navbar {
    //Mobile Responsive Design
    @include breakpoint-mobile(medium) {
        background-color: $darkBlack;
        height: 70px;
        max-width: 100%;

        .NavbarContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;


            .myLogo {
                text-decoration: none;
                color: $white;
            }

            .navLinks {
                display: none;
                justify-content: space-between;
            }

            .menu {

                span {
                    height: 5px;
                    width: 35px;
                    background-color: $white;
                }
            }



        }

        .respNav {
            display: none;
        }
    }

    //Desktop Design

}